/* Estilos da barra de navegação */
.navbar {
    background-color: #333; /* Cor de fundo escura */
    padding: 15px;          /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra da barra */
}

.navbar ul {
    list-style-type: none;  /* Remove os marcadores de lista */
    margin: 0;
    padding: 0;
    display: flex;          /* Exibe os itens horizontalmente */
    justify-content: space-around; /* Espaço uniforme entre os itens */
}

.navbar ul li a {
    color: white;           
    font-size: 18px;           
}

#better {
    padding: 20px;
}

#better header {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
}

#left,#right{
    flex: 1;                  
    padding: 20px;
    box-sizing: border-box;    
}

#left {
    background-color: red;
}

#right {
    background-color: green;
}

iframe{
    width: 100%;
}

.photo-gallery {
    display: flex;
                 
}
.photo-gallery img {
    margin:2px;       
}

header{
    text-align: center;
    padding: 2.5%;
    background-color: red;
    margin-top: 10px;
}

body{
    font-family: Arial, sans-serif;

    background-color: grey;
    height: 100%;
  margin-left: 10px;
  margin-right: 10px;

  display: flex;
  flex-direction: column;
}

a:hover {
    color: black;
}

#fotografias h3, #video h3, #poema h3 {
    color: #4CAF50;
    font-size: 24px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#labelCor{
    background-color: white;
    border: 10px solid black; 
    margin-top: 8px;
}

label {
    font-size: small;
}

input {
    font-size: medium;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    position:relative;
  }

  .image-gallery {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.image-gallery img {
    width: 32%; 
    height: auto;
}