* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #f5f5f5; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


header {
    text-align: center;
    padding: 30px;
    background: linear-gradient(to right, #FFB900, #FF5733, #FF9F33);
    color: white;
    border-bottom: 3px solid #4A90E2; 
}

header h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}


header p {
    font-size: 1.2em; 
}

.navbar {
    background-color: #4A90E2; 
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: slideDown 0.5s ease forwards; 
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.navbar ul li {
    flex: 1 1 auto; 
}

.navbar ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.3s; 
}

.navbar ul li a:hover {
    background-color: #357ABD; 
    transform: scale(1.1); 
}

.leftaside, .rightaside {
    background-color: #ffffff;
    padding: 20px;
    width: 25%; 
    margin: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    opacity: 0; 
    animation: fadeInLeft 0.5s ease forwards; 
}

.rightaside {
    animation: fadeInRight 0.5s ease forwards; 
}

.leftaside h2, .rightaside h2 {
    color: #FF5733; 
}

.leftaside ul, .rightaside ul {
    list-style-type: square; 
    padding-left: 20px; 
    margin-top: 10px; 
}

main {
    display: flex;
    flex: 1; 
    padding: 20px;
    justify-content: space-between; 
}

iframe {
    width: 50%; 
    height: 450px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( #FF5733, #4CAF50, #FFEB3B); 
    color: white;
    text-align: center;
    padding: 15px; 
    font-weight: bold; 
}


@media screen and (max-width: 768px) {
    main {
        flex-direction: column; 
        align-items: center; 
    }

    .leftaside, .rightaside {
        width: 90%; 
        margin: 10px 0; 
        opacity: 1; 
    }

    iframe {
        width: 90%; 
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
